@using EcomShoes_Webshop.Models;
@model List<Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- banner -->
    <!-- //banner -->
    <!-- top Products -->
    <div class="ads-grid_shop">
        <div class="shop_inner_inf">
            <div class="privacy about">
                <h3>Chec<span>kout</span></h3>
                <div class="checkout-right">
                    <h4>Số lượng sản phẩm: <span>@Html.Action("PartialSoLuong", "ShoppingCart") Sản phẩm trong giỏ hàng</span></h4>
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quality</th>
                                <th>Product Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="rem1">
                                    <td class="invert-image"><img src="@Url.Content("/productmanager/Image/"+item.iMaSP)" alt=" " class="img-responsive"></td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value"><span>@item.isoLuong</span></div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td >@item.iTenSP</td>
                                    <td >@item.thanhTien</td>
         
                                    <td colspan="6" style="text-align:right">
                                        @Html.ActionLink("Chinh sua gio hang", "EditShoppingCart")
                                    </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="checkout-left">
                    <div class="col-md-4 checkout-left-basket">
                        <h4>Continue to basket</h4>
                        <ul>
                            <li>Total <i>-</i> <span>@Html.Action("PartialTotal", "ShoppingCart")</span></li>
                        </ul>
                    </div>
                    <div class="checkout-right-basket">
                        <a href="@Url.Action("Create", "ManageOrders")" > Tiến hành đặt hàng
                        </a>
                    </div>
                    @using (Html.BeginForm("Create", "ManageOrders", FormMethod.Post))
                    {
                        <a href="@Url.Action("Create", "ManageOrders")">
                            <input type="submit" value="Tiến hành đặt hàng" />
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
 