<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reset.css" rel="stylesheet" />
    <link href="~/Content/DT_bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

</head>
<body>
    <div class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Ẩn / Hiện" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo">MANAGE<span>SHOP</span></a>

        @*<div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu" style="margin-top:10px">
                    @Html.Partial("_LoginPartial")
                </ul>
                <!--search & user info end-->
            </div>*@
    </div>

    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="active" href="/">
                        <i class="icon-laptop"></i>
                        <span>Home</span>
                    </a>
                    <ul class="sub">
                        <li>@Html.ActionLink("Giao diện người dùng", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Giao diện admin", "Index", "ManageProducts", new { area = "" }, null)</li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-th"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                    <ul class="sub">
                        <li>@Html.ActionLink("Danh mục sản phẩm", "Index", "ManageCategories", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Cập nhập sản phẩm", "Index", "ManageProducts", new { area = "" }, null)</li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-cogs"></i>
                        <span>Liên hệ</span>
                    </a>
                    <ul class="sub">
                        <li>@Html.ActionLink("Thông tin liên hệ", "Index", "ManageContact", new { area = "" }, null)</li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-shopping-cart"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                    <ul class="sub">
                        <li>@Html.ActionLink("Đơn đặt hàng", "Index", "ManageOrders", new { area = "" }, null)</li>
                    </ul>
                </li>
        

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>

    

    <section id="main-content">
        <section class="wrapper">
            @RenderBody()
        </section>
    </section>


    <footer class="site-footer navbar-fixed-bottom">
        <div class="text-center">
            2019 - DownyShop
            <a href="#" class="go-top">
                <i class="icon-angle-up"></i>
            </a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/DT_bootstrap.js"></script>
    <script src="~/Scripts/common-scripts.js"></script>
    <script src="~/Scripts/editable-table.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });
    </script>
</body>
</html>
