@model EcomShoes_Webshop.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
<div>
    <h4> CHI TIẾT SẢN PHẨM</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Mã sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt>
            Tên sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Giá bán
        </dt>
        <dd>
            @Model.SalePrice.ToString("N0") VNĐ
        </dd>
        <dt>
            Giá gốc
        </dt>
        <dd>
            @Model.OriginalPrice.ToString("N0") VNĐ
        </dd>
        <dt>
            Hình ảnh sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt>
            Ngày tạo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            Ngày cập nhật
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            Mô tả sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            Danh mục
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>
            @Html.Raw(TempData["msg"])

    </dl>
    
        

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
