@model EcomShoes_Webshop.Models.Order

@{
    ViewBag.Title = "Hủy đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Hủy đơn hàng</h2>

<h3>Bạn có chắc là muốn hủy đơn hàng này?</h3>
<div>
    <h4>Đơn hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
           Tên người đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            Địa chỉ người đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
           Số điện thoại người đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            Email người đặt hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
           Tên người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactReceiverName)
        </dd>

        <dt>
            Địa chỉ người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactReceiverAddress)
        </dd>

        <dt>
            Số điện thoại người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactReceiverPhone)
        </dd>

        <dt>
           Email người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactReceiverEmail)
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            Mã đơn hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCode)
        </dd>

        <dt>
           Trạng thái đơn hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
           Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            Tổng cộng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hủy đơn hàng" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
