@Model EcomShoes_Webshop.Models.OrderDetail

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="panel">
    <header class="panel-heading">
        Chi tiết thông tin đơn hàng
    </header>
    <div class="panel-body">
        <ul class="nav nav-pills nav-tabs">
            <li class="active"><a data-toggle="pill" href="#home">Ðơn hàng</a></li>
            <li><a data-toggle="pill" href="#menu1">Khách hàng</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <br />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Hình
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Giá gốc
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Giảm giá
                            </th>
                            <th>
                                Thành tiền
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>
                                    <img src="@Url.Action("Image", new { id = @Model.ProductID})" style="width: 80px" />

                                </td>
                                <td>
                                    @Model.Product.ProductName
                                </td>
                                <td>
                                    @Model.Price.ToString("N0")
                                </td>
                                <td>
                                    @Model.Quantity                                   
                                </td>
                                <td>
                                    @Model.Discount
                                </td>
                            </tr>
                        
                        <tr>
                            <td colspan="5" style="text-align:right">
                                <strong>Tổng cộng</strong> :
                            </td>
                            
                                <td>
                                    @Model.Order.TotalPrice.ToString("N0")
                                </td>
                                
                            
                        </tr>
                    </tbody>
                </table>


            </div>
            <div id="menu1" class="tab-pane fade">
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Thông tin người đặt hàng
                            </header>
                            <table class="table">
                                    <tr class="danger">
                                        <th>Tên</th>
                                        <td>
                                            @Model.Order.ContactName
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ðịa chỉ</th>
                                        <td>
                                            @Model.Order.ContactAddress
                                        </td>
                                    </tr>
                                    <tr class="danger">
                                        <th>Số điện thoại</th>
                                        <td>
                                            @Model.Order.ContactPhone
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            @Model.Order.ContactEmail
                                        </td>
                                    </tr>
                            </table>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="panel">
                            <header class="panel-heading">
                                Thông tin người nhận
                            </header>
                            <table class="table table-striped">
                               <tr class="success">
                                        <th>Tên</th>
                                        <td>
                                            @Model.Order.ContactReceiverName
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Địa chỉ</th>
                                        <td>
                                            @Model.Order.ContactReceiverAddress
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <th>Số điện thoại</th>
                                        <td>
                                            @Model.Order.ContactReceiverPhone
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                            @Model.Order.ContactReceiverEmail
                                        </td>
                                    </tr>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-heading">
     
        @Html.ActionLink("Quay lại", "Index", null, htmlAttributes: new { @class = "btn btn-info" })
    </div>

</section>
